body {
    font-family: 'Roboto Slab';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.dark-mode{
	background-color: lightslategray;
	color: white;
}

header {
    background-color: lightgray;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff5733;
}

.section {
    padding: 1rem 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgba(247, 244, 244, 0.796);
}

.rectangle {
  height: 250px;
  width: 185px;
  background-color: #555;
}

p {
    font-size: 1rem;
    color: black;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
}

.internship {
    background-color: lightgray;

    padding: 1.5rem;
    margin-bottom: 1rem;
}

.internship h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.skill {
    width: calc(33.33% - 20px);
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.skill h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.skill p {
    font-size: 1rem;
    color: #999999;
    line-height: 1.6;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.certificate {
    width: calc(33.33% - 20px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.certificate h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.certificate p {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}

/* Styles remain the same */
.resume-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: dimgrey;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.resume-link:hover {
    background-color: #e63a00;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}
